

trigger:
- main

pool:
  name: agentinfraset

stages:
  - stage: TerraformDev
    jobs:
      - job: TerraformDev
        displayName: TerraformDev
        steps:
          - 
- task: TerraformTask@5 
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/Root/Dev'
    backendServiceArm: 'gauravssris'
    backendAzureRmStorageAccountName: 'storagegauravssris'
    backendAzureRmContainerName: 'storagecontainer38'
    backendAzureRmKey: 'backup.tfstate'
  - stage: TerrafomProd
    jobs:
      - job: TerrfaormProd
        displayName: TerraformProd
        steps:
          -  
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/Root/Prod'
    backendServiceArm: 'gauravssris'
    backendAzureRmStorageAccountName: 'storagegauravssris'
    backendAzureRmContainerName: 'storagecontainer38'
    backendAzureRmKey: 'backup.tfstate'
  - stage: TerraformQA
    jobs:
      - job: TerrfaormQA
        displayName: TerrfaormQA
        steps:
          -  
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/Root/QA'
    backendServiceArm: 'gauravssris'
    backendAzureRmStorageAccountName: 'storagegauravssris'
    backendAzureRmContainerName: 'storagecontainer38'
    backendAzureRmKey: 'backup.tfstate'
# stages:
#   - stage: cistage
#     jobs:
#       - job: cijob
#         displayName: cistage
#         steps:
#           - task: PowerShell@2
#             inputs:
#               targetType: 'inline'
#               script: |
#                 # Write your PowerShell commands here.
                
#                 Write-Host "Hello World"
#   - stage: cdstage
#     jobs:
#       - job: cdjob
#         steps:
#           - task: PowerShell@2
#             inputs:
#               targetType: 'inline'
#               script: |
#                 # Write your PowerShell commands here.
                
#                 Write-Host "Hello Gaurav"
#   - stage: newstage
#     jobs:
#       - job: newstage
#         steps:

#           - task: PowerShell@2
#             inputs:
#               targetType: 'inline'
#               script: |
#                 # Write your PowerShell commands here.
                
#                 Write-Host "Hello India"

 

# steps:
# - task: TerraformTask@5
#   displayName: terraform init
#   inputs:
#     provider: 'azurerm'
#     command: 'init'
#     workingDirectory: '$(System.DefaultWorkingDirectory)/Root/Dev'
#     backendServiceArm: 'gauravssris1'
#     backendAzureRmStorageAccountName: 'storagegauravssris'
#     backendAzureRmContainerName: 'storagecontainer38'
#     backendAzureRmKey: 'backup.tfstate'
