

trigger:
- main

pool:
  name: agentinfraset

stages:
  - stage: cistage
    jobs:
      - job: cijob
        displayName: CIstage
        steps:
          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: |
                # Write your PowerShell commands here.
                
                Write-Host "Hello Dear"
  - stage: cdstage
    jobs:
      - job: cdjob
        steps:
          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: |
                # Write your PowerShell commands here.
                
                Write-Host "Hello Gaurav"
  - stage: newstage
    jobs:
      - job: newstage
        steps:

          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: |
                # Write your PowerShell commands here.
                
                Write-Host "Hello India"

 

# steps:
# - task: TerraformTask@5
#   displayName: terraform init
#   inputs:
#     provider: 'azurerm'
#     command: 'init'
#     workingDirectory: '$(System.DefaultWorkingDirectory)/Root/Dev'
#     backendServiceArm: 'gauravssris1'
#     backendAzureRmStorageAccountName: 'storagegauravssris'
#     backendAzureRmContainerName: 'storagecontainer38'
#     backendAzureRmKey: 'backup.tfstate'
