trigger:
- main

pool:
  vmImage:  infrasetup

variables:
  terraformVersion: '1.6.6'

steps:

- task: TerraformInstaller@1
  displayName: 'Install Terraform'
  inputs:
    terraformVersion: $(terraformVersion)

- task: TerraformTaskV4@4
  displayName: 'Terraform Init'
  inputs:
    provider: 'azurerm'
    command: 'init'
    backendServiceArm: 'gauravvimlesh'   # Azure Service Connection name
    backendAzureRmResourceGroupName: 'example-resources'
    backendAzureRmStorageAccountName: 'storagegauravssris'
    backendAzureRmContainerName: 'storagecontainer38'



