
trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: TerraformTask@5
  displayName: init
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)/Root/Prod'
    backendServiceArm: 'EnvironmentDevProdQA'
    backendAzureRmStorageAccountName: 'storagegauravssris'
    backendAzureRmContainerName: 'storagecontainer38'
    backendAzureRmKey: '12345'
- task: TerraformTask@5
  displayName: plan
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/Root/Prod'
    environmentServiceNameAzureRM: 'EnvironmentDevProdQA'
- task: TerraformTask@5
  displayName: apply
  inputs:
    provider: 'azurerm'
    command: 'apply'
    workingDirectory: '$(System.DefaultWorkingDirectory)/Root/Prod'
    environmentServiceNameAzureRM: 'EnvironmentDevProdQA'