

trigger:
- main

pool:
  name: agentinfraset

steps:
  - task: TerraformTask@5
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(System.DefaultWorkingDirectory)/Root/Dev'
      backendServiceArm: 'gauravvimlesh'
      backendAzureRmResourceGroupName: 'example-resources'
      backendAzureRmStorageAccountName: 'storagegauravssris'
      backendAzureRmContainerName: 'storagecontainer38'
      backendAzureRmKey: 'backup.tf'

